# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\piotr\Desktop\AGH\SEMESTR 3\Zaawansowane Programowanie Obiektowe\Symulacja_sieci_ZPO\symulacje_sieci_1a\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
